<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testCases.HPPV_headphonePurchaseValidationKeywords"/>
      <class name="testCases.HPV_homepageValidationRunner"/>
      <class name="testCases.SSV_searchNShoppingCartValidationRunner"/>
      <class name="testCases.HPV_homepageValidationKeywords"/>
      <class name="testCases.HPPV_headphonePurchaseValidationRunner"/>
      <class name="testCases.CUPV_contactUsPageValidationRunner"/>
      <class name="testCases.SSV_searchNShoppingCartValidationKeywords"/>
      <class name="testCases.TPV_tabletPurchaseValidationRunner"/>
      <class name="testCases.TPV_tabletPurchaseValidationKeywords"/>
      <class name="testCases.CUPV_contactUsPageValidationKeywords"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
